/* :root {
    filter: invert(1) hue-rotate(180deg);
} */

.tmpAuth {
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}

.tmpLogin {
    margin: 10px auto;
    width: 100%;
    max-width: 200px;
}

.tmpRegister {
    margin: 10px auto;
    width: 100%;
    max-width: 200px;
}

.regTest {
    
    margin-top: 15%;
    margin-bottom: auto;
}

.regAlertTest {
    width: 100%;
    max-width: 500px;
}

.profilePic {
    width: auto;
    height: 100%;
    max-height: 30vh;
}

.video {
    width: 100%;
}

.c-video {
    width: 100;
    max-width: 1500px;
    background-color: black;
}

.form-control:focus {
    box-shadow: none;
}
  
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}


.sort-test {
    background-color: aliceblue;
    width: 100%;
    max-width: 250px;
    position: absolute;
    left: 1080px;
}

.sort-btn {
    position: relative;
    left: 25%;
    border-radius: 20px;
    width: 100%;
    max-width: 110px;
}

.demoPic {
    width: auto;
    height: 100%;
    max-height: 30vh;
}

.commentInput {
    padding: 12px 20px;
    width: 79%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.addCommentBtn {
    padding: 8px 20px;
    margin: 7px 0;
    display: inline-block;
    box-sizing: border-box;
}

.avatar {
    width: auto;
    height: 100%;
    max-height: 30px;
    border-radius: 50%;
}

.poster-placeholder {
    width: auto;
    height: 100%;
    max-height: 279px;
}

/* #chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
} */

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#output strong{
    color: #575ed8;
}