<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <% if (!data.userId) { %>
            <li class="nav-item">
            <a class="nav-link active" href="/login">Sign In</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
            </li>
        <% } else { %>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
            </li>
        <% } %>
    </nav>
    <div class="container">
        <p>Check you email for reset password instructions</p>
    </div>
<%- include('./../partials/footer')%>