<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
    </nav>
    <div class="container">
        <form action="/forgotPassword" method="post">
            <div class="form-groups">
                <h2>Forgot Password</h2><br>
                <input type="email" name="email" id="email" placeholder="email">
            </div>
            <input type="submit" class="btn btn-primary" value="Send reset password instructions">
        </form>
        <a href="/login"><button type="button" class="btn btn-secondary">back to login</button></a>
    </div>
<%- include('./../partials/footer')%>