<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
    </nav>
    <div class="container">
        <p>Check you email for reset password instructions</p>
    </div>
<%- include('./../partials/footer')%>