<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
            <a class="nav-link active" href="/login">Sign In</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="/profile" tabindex="-1" aria-disabled="true">Profile</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <form action="/login" method="post">
            <div class="form-groups">
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username" placeholder="username">
            </div>
            <div class="form-groups">
                <label for="passord">Password</label><br>
                <input type="password" name="password" id="password" placeholder="password">
            </div>
            <input type="submit" class="btn btn-primary" value="login">
        </form>
        <a href="/forgotPassword">Forgot Password?</a>
    </div>

<%- include('./../partials/footer')%>