<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <% if (!data.userId) { %>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
                </li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
        <div class="err">
            <% if (errors !== undefined) { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach( (result) => { %>
                            <% if (result.msg !== "Invalid value") {%>
                                <li><%=result.msg%></li>
                            <% } %>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
        </div>
        <form action="/login" method="post">
            <div class="form-groups">
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username" placeholder="username">
            </div>
            <div class="form-groups">
                <label for="passord">Password</label><br>
                <input type="password" name="password" id="password" placeholder="password">
            </div>
            <input type="submit" class="btn btn-primary" value="login">
        </form>
        <hr>
        <!-- <button class="loginWithFortyTwo"><img src="https://icon.ngo/wp-content/uploads/2019/01/logo_42-1-2.png" alt="42"></button> -->
        <!-- <a href="/auth/google" class="loginWithGoogle"><i class="fa fa-google left" aria-hidden="true">Log In With Google</i></a><br>
        <a href="/auth/facebook" class="loginWithFacebook"><i class="fa fa-facebook-official" aria-hidden="true">Log In With facebook</i></a><br> -->

        <a href="/forgotPassword">Forgot Password?</a>
    </div>

<%- include('./../partials/footer')%>