<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <% if (!data.userId) { %>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
                </li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <% if (!data.image) {%>
                    <img class="profilePic" src="https://clinicforspecialchildren.org/wp-content/uploads/2016/08/avatar-placeholder.gif" alt="profile image avatar">
                <% } else { %>
                    <img class="profilePic" src="<%=data.image%>" alt="profile image avatar">
                <% } %>
                <form id="myform" class="form-container" action="/set-profilePic" method="POST" enctype="multipart/form-data">
                    <input type="file" name="myImage">
                    <input type="submit" value="Upload">
                </form>
            </div>
            <div class="col-md-8">col-8</div>
        </div>
    </div>

<%- include('./../partials/footer')%>