<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <% if (!data.userId) { %>
            <li class="nav-item">
            <a class="nav-link active" href="/login">Sign In</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
            </li>
        <% } else { %>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
            </li>
        <% } %>
    </nav>
    <div class="container">
        <form action="/resetPassword/<%=token%>" method="post">
            <div class="form-groups">
                <label for="passord">Password</label><br>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="form-groups">
                <label for="confPassord">Confirm Password</label><br>
                <input type="password" name="confPassword" id="confPassword" placeholder="Confirm Password">
            </div>
            <input type="submit" class="btn btn-primary" value="Reset Password">
        </form>
    </div>

<%- include('./../partials/footer')%>