<%- include('./../partials/header')%>

    <!-- <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <% //if (!data.userId) { %>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% //} else { %>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
                </li>
            <% //} %>
        </ul>
    </nav> -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <% if (!data.userId) { %>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <% if (isMovie === true) { %>
                    <form action="/search/movies" method="post">
                        <div class="row mb-4">
                            <div class="form-group col-md-9">
                            <input id="movie" type="text" name="movie" placeholder="What movie are you searching for?" class="form-control form-control-underlined">
                            </div>
                            <div class="form-group col-md-3">
                            <button type="submit" class="mr-5 mr-xl-5 btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
                            </div>
                        </div>
                    </form>
                <% } else { %>
                    <form action="/search/tv" method="post">
                        <div class="row mb-4">
                            <div class="form-group col-md-9">
                                <input id="tvSeries" type="text" name="tvSeries" placeholder="What series are you searching for?" class="form-control form-control-underlined">
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="mr-5 mr-xl-5 btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
                            </div>
                        </div>
                    </form>
                <% } %>
                <div class="ml-5 ml-lg-4 dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Discover
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/discover/movies">movies</a>
                      <a class="dropdown-item" href="/discover/tv">tv series</a>
                    </div>
                </div>
                <li class="nav-item">
                    <div class="ml-5 ml-lg-4 dropdown show">
                        <a class="dropdown-toggle" href="#" role="link" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-2x mt-1 fa-cog" aria-hidden="true"></i>
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/profile">view profile</a>
                          <a class="dropdown-item" href="/settings">edit settings</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                    </li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <% if (!data.image) {%>
                    <img class="profilePic" src="https://clinicforspecialchildren.org/wp-content/uploads/2016/08/avatar-placeholder.gif" alt="profile image avatar">
                <% } else { %>
                    <img class="profilePic" src="<%=data.image%>" alt="profile image avatar">
                <% } %>
                <form id="myform" class="form-container" action="/set-profilePic" method="POST" enctype="multipart/form-data">
                    <input type="file" name="myImage">
                    <input type="submit" value="Upload">
                </form>
            </div>
            <div class="col-md-8">
                <div class="err">
                    <% if (errors !== undefined) { %>
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                <% errors.forEach( (result) => { %>
                                    <% if (result.msg !== "Invalid value") {%>
                                        <li><%=result.msg%></li>
                                    <% } %>
                                <% }) %>
                            </ul>
                        </div>
                    <% } %>
                </div>
                <form action="/settings/firstname" method="post">
                    <div class="form-group">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="firstname">First Name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="firstname" id="firstname" aria-describedby="userFirstName" placeholder="Enter firstname">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
                
                <form action="/settings/lastname" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="lastname">Last Name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="lastname" id="lastname" aria-describedby="userLastName" placeholder="Enter lastname">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
                <form action="/settings/email" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="email">Email address</label>
                            </div>
                            <div class="col-md-8">
                                <input type="email" class="form-control" name="email" id="email" aria-describedby="email" placeholder="Enter email">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
                <form action="/settings/username" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="username">Username</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="username" id="username" aria-describedby="userUsername" placeholder="Enter username">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
                <form action="/settings/password" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="oldPassword">Old Password</label>
                                <!-- Last Name: -->
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Old Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="newPassword">New Password</label>
                                <!-- Last Name: -->
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="New Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="confPassword">Confirm Password</label>
                                <!-- Last Name: -->
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="confPassword" id="confPassword" placeholder="Confirm Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
                <form action="/settings/language" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="language">Prefered Language</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="language" id="language" aria-describedby="userlanguage" placeholder="Enter language">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include('./../partials/footer')%>