<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <% if (!data.userId) { %>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
                </li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="c-video">
                        <!-- <video class="video" src="http://localhost:8626/watch/stream/<%//=mediaInfo.name%> <%//=seaEpi%>" controls></video> -->
                        <video class="video" src="http://localhost:8626/watch/stream/<%=mediaInfo%>" controls></video>
                    </div>
                    <hr>  
                </div>
            </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
<%- include('./../partials/footer')%>