<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <% if (!data.userId) { %>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
                </li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="demoPic" src="/assets/images/demoPic.jpg" class="mb-5" alt="Demo"><hr>
            </div>
            <div class="col-md-9">
                <div class="c-video">
                    <video class="video" controls muted="muted" autoplay>
                        <source src="http://localhost:8626/test/video" type="video/mp4">
                    </video>
                </div>
                <hr>
            </div>
        </div>
    </div>
<%- include('./../partials/footer')%>